<!doctype html>
<html lang="en">

<head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message {
      font-size: 1.3em;
      font-weight: bold;
    }
    </style>
    <script type="text/javascript" src="script/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>

<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
     <!-- Checking for empty values between commas in the input. -->
         <div class="form-group" >
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="lunchMenuInput"
         </div>
         <br />
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkLunchMenuInput()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
           <span class="label label-{{messageClass}}">{{message}}</span>
         </div>
   </div>

</body>

</html>
